<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>动漫人物识别 Demo</title>
    <link href="/static/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery.min.js"></script>

</head>

<body>
    <h2>动漫人物识别 Demo</h2>
    <p id="status">
        正在初始化……
    </p>
    <div>
        <div class="control"><button id="tryIt" disabled>自动识别</button></div>
        <p class="err" id="errorMessage"></p>
        <input type="file" id="fileInput" name="file" accept="image/*" />
        <canvas class="image_canvas" id="canvasInput" hidden></canvas>
        <!-- <canvas class="image_canvas" id="canvasOutput"></canvas> -->
    </div>
    
    <br>
    <h3>没有检测到？你可以手动框选加入。</h3>
    <div class="canvas-box">

    </div>
    
    <input type="button" id="addToList" value="加入列表">

    <input type="button" id="upload" value="上传至服务器分析">

    <p id="result"></p>

    <script src="/static/js/zm-canvas-crop.js"></script>

    <script type="text/javascript">
        statusText = document.getElementById("status")
        resultText = document.getElementById("result")
        tryIt = document.getElementById('tryIt');

        function test(base64) {
            //最终把此base64传给后端
            $.post("/submitPic", {
                data: base64
            }, (data, status) => {
                if (status == "success") {
                    resultText.innerText = data
                } else {
                    resultText.innerText = "Server returns a HTTP error. Please try again later."
                }
            });
        }

        function saveCallBack(_) {
            // make this js library happy
        }

        var c = new ZmCanvasCrop({
            fileInput: $('#fileInput')[0],
            saveBtn: $('#addToList')[0],
            box_width: 800,  //剪裁容器的最大宽度
            box_height: 800, //剪裁容器的最大高度
            min_width: 10,  //要剪裁图片的最小宽度
            min_height: 10  //要剪裁图片的最小高度
        });
    </script>
    <script src="/static/js/utils.js" type="text/javascript"></script>
    <script src="/static/js/user.js" type="text/javascript"></script>
    
    <script type="text/javascript">
        let utils = new Utils('errorMessage');
        utils.addFileInputHandler('fileInput', 'canvasInput');

        tryIt.addEventListener('click', facedet);

        utils.loadOpenCv(() => {
            let faceCascadeFile = '/static/data/lbpcascade_animeface.xml';
            let faceCascadePath = 'lbpcascade_animeface.xml';
            utils.createFileFromUrl(faceCascadePath, faceCascadeFile, () => {
                tryIt.removeAttribute('disabled');
                console.log("Initialization finished");
                statusText.innerText = "OpenCV 初始化完成。"
            });


        });
    </script>
</body>

</html>